{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron jumbotron-fluid text-center" style="background: #FFFACD">
      <h1>Patient About Page</h1>
      <h3>Welcome To Patient About Page</h3>
  </div>
      <div class = "jumbotron jumbotron-fluid" style="background: #FFFACD">
      	<h3>As a Patient, you can do several things like:</h3><br>
      	<ul>
      		<li>Securely store all your medical records on a BlockChain making all the records stored undeletable and unmodifiable.</li>
      		<li>Make use of our specialized Disease Predictor which uses Machine Learning Algorims to detect which disease you have just by taking an input of your symptoms.</li>
      		<li>If you're still not satisfied, we also recommend you a doctor according to your convenience.</li>
      		<li>We use RSA Public-Private key to encrypt and store all your data</li>
      		<li>A big advantage of our Rabadiom is that the doctor who writes the record for you digitally signs it. That means that the doctor can not deny the fact that he had given that record.</li>
      	</ul>
      	<br>
      	<h2 class= "text-center">SO BYE BYE FAKE RESULTS AND A CHAOTIC LIFESTYLE</h2>
      </div>
{% endblock content %}
