{% extends "doc_layout.html" %}
{% block content %}
    <div class="jumbotron jumbotron-fluid text-center" style="background: #FFFACD">
      <h1>Doctor About Page</h1>
      <h3>Welcom To Doctor About Page</h3>
    </div>
    <div class="jumbotron jumbotron-fluid" style="background: #FFFACD">
    	<h3>As a Doctor, you have several advantages like:</h3><br>
    	<ul>
    		<li>Securely store all the medical records of a Patient on a BlockChain making all the records stored undeletable and unmodifiable.</li>
    		<li>We use RSA Public-Private key to digitally sign and store all your data</li>

    	</ul>
    </div>

{% endblock content %}
